#keypad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 20px;
}

.key {
    background-color: #444;
    color: white;
    border: none;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    font-size: 1.5em;
    text-align: center;
	vertical-align: middle;
    cursor: pointer;
    border-radius: 5px;
}

.key:active {
    background-color: #666;
}