.header {
    background-color: #c2e0c7;
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.header-inner {
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: inherit;
    position: relative;
}

.header-title {
    width: 80px;
}

.header-title a{
    color: #333;
    font-size: 24px;
    font-weight: bold;
}

.header-title img {
    display: block;
    width: 100%;
    height: 100%;
}

.header-nav {
    margin-left: auto;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%); 
    background-color: #fff; /*ハンバーガーメニュークリック時のナビゲーションメニュー背景色*/
    transition: ease .4s; /*ハンバーガーメニュークリック時のナビゲーションメニュー出現を遅延*/
}

.header-nav-item {
    padding-top: 250px;
    padding-bottom: 200px;
}

  /* ナビのリンク */
.nav-items-item a {
    color: black;
    width: 100%;
    display: block;
    text-align: center;
    font-size: 24px;
    margin-bottom: 24px;
}

.header-hamburger{
    background-color: transparent;
    border-color: transparent;
    width: 48px;
    height: 100%;
    z-index: 9999;
    cursor: pointer;
}

.header-hamburger span{
    width: 100%;
    height: 1px;
    background-color: #000;
    position: relative;
    transition: ease.4s;
    display: block;
}

.header-hamburger span:nth-child(1){
    top: 0;
}

.header-hamburger span:nth-child(2){
    margin: 8px 0;
}

.header-hamburger span:nth-child(3){
    top: 0;
}